@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --color-primary-DEFAULT: rgb(59 130 246);
  --color-primary-50: rgb(239 246 255);
  --color-primary-100: rgb(219 234 254);
  --color-primary-500: rgb(59 130 246);
  --color-primary-600: rgb(37 99 235);
}
