apiVersion: apps/v1
kind: Deployment
metadata:
  name: hasura
  namespace: plan
spec:
  template:
    spec:
      containers:
      - name: hasura
        env:
        - name: HASURA_GRAPHQL_DATABASE_URL
          valueFrom:
            secretKeyRef:
              name: plan-db-user
              key: uri
        - name: HASURA_GRAPHQL_ADMIN_SECRET
          valueFrom:
            secretKeyRef:
              name: plan-db-user
              key: password
